[Unit]
Description=KnightBack
After=network.target

[Service]
ExecStart=/usr/bin/node /home/debian/knightBack/app.js
WorkingDirectory=/home/debian/knightBack
Restart=always

[Install]
WantedBy=multi-user.target